<footer class="footer animated fadeIn" style="margin-top:0px;">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-3">
              <h3>Related Links</h3>
              <ul>
                  <li><a href="#">Terms of Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Contact Us</a></li>
              </ul>
          </div> -->
            <div class="col-md-2">
                <!-- <h3>Links</h3>
                <ul>

                    <li><a href="immigration">Immigration</a></li>
                    <li><a href="rd">Research Developer Program</a></li>
                </ul> -->
            </div>
            <div class="col-md-5">
                <!-- <h3>Latest Blogs</h3>
              <ul>
                  <li><a href="#">Hire the Right Talent That Strengthens Your Organization</a></li>
                  <li><a href="#">Github magic</a></li>
                  <li><a href="#">Why collective Intelligence is important in IT?</a></li>
                  <li><a href="#">Show off your skills in a different way!</a></li>
                  <li><a href="#">How to solve startup hiring problem?</a></li>
              </ul> -->
            </div>
            <div class="col-md-2">
                <!-- <h3>Community</h3>
                <ul>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i>LinkedIn</a></li>
                    <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i>YouTube</a></li>
                </ul> -->
            </div>
            <div class="col-sm-12 text-center copy">
                {% include "copyright.html" %}
            </div>
        </div>
    </div>
</footer>