<ul class="dropdown-menu">
                
    <li role="menuitem">
      <a href="/myfeatures">Features</a>
    </li>
    <li role="menuitem"><a href="/all/courses">Courses</a></li>
    <li role="menuitem"><a href="/profile">View Profile</a></li>
    <li role="menuitem"><a href="/update/bio" >Edit Profile</a></li>
    <li role="menuitem"><a href="/edit/wishlist" >Wishlist</a></li>
    <li role="menuitem"><a href="/mentor/session" >Sessions</a></li>
    <!-- <li role="menuitem"><a href="/ML-posts">ML Posts</a></li> -->
    <!-- <li role="menuitem"><a href="/ama/sessions">AMA Sessions</a></li> -->
    <li role="menuitem"><a href="/random-challenge">Random Challenges</a></li>

    <li role="menuitem"><a href="/credits">Credits</a></li>
    <li role="menuitem"><a href="/la/dashboard">Learning Analytics</a></li>

    <!-- <li role="menuitem"><a href="/all/crowd-engines">Crowd Engine</a></li> -->

    <!-- <li role="menuitem"><a href="/gifts">Gifts</a></li> -->
    <!-- <li role="menuitem"><a href="/recommendations">Recommendations</a></li> -->
    <li class="divider"></li>
    <li role="menuitem"><a href="/logout">Logout</a></li>
  </ul>